* {
  box-sizing: border-box;
}

main {
  background: linear-gradient(90deg,
      #ea2020,
      #626269);
  padding-bottom: 55px;
  

  /* background-image: url('./assets/images/mbg.jpg'); */
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(255, 255, 255, 0.029);
}

:root {
  --primary: #212529;
  --secondary: #343a40;
  --tertiary: #495057;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}


html,
body {
  min-height: 100%;
}

/* body section */
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
}


/* footer */
footer {
  width: 100%;
  height: 100px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg,
      #0e0a0a,
      #48494a);
}

/*-- Carousel elements */
.carousel-item {
  height: 25rem;
}

.container {
  width: 85%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  flex: 40%;
  width: 50%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card body */
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.rounded {
	transform: scale(1);
	transition:transform 0.6s ease;
}

.overflow-bg-dark-text-white-shadow-lg {
  overflow: hidden;
}

.rounded:hover {
	transform:scale(1.1);
}
